.root {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.wrapper {
  max-width: 64rem;
  width: 100%;
  margin: auto;
}

.background-item{
  background-image: url(/assets/img/background.jpg);
}