@media all and(max-width:680px) {
  .main-info__margin-content {
    display: block;
  }

  .main-info__form {
    margin-top: 3rem;
    width: 100%;
    max-width: unset;
  }

  .input-list {
    padding-right: 2rem;
  }

  .wrapper {
    max-width: unset;
    margin: unset;
    padding-right: 2rem;
  }

  .choice-list {
    grid-template: auto/repeat(3, 1fr);
  }

  .knowledge-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .knowledge-wrap__margin-stat {
    margin-left: 0;
    margin-top: 3rem;
  }

  .knowledge-stat-num {
    text-align: center;
  }
}

@media all and(max-width:480px) {
  .choice-list {
    grid-template: auto/repeat(2, 1fr);
  }

  .approv-pic {
    bottom: auto;
    top: 12rem;

    width: 10.4rem;
    height: 10.4rem;
  }
}