.svgsprite {
    display:inline-block;
    width:1em;
    height:1em;
    fill:currentColor;
    vertical-align:middle;

    &._Line {
    	font-size:(17/10)*1rem;
    	width:(4/17)*1em;
    }
    &._arrow {
    	font-size:(20/10)*1rem;
    	width:(14/20)*1em;
    }
    &._close {
    	font-size:(15/10)*1rem;
    	width:(15/15)*1em;
    }
    &._done {
    	font-size:(10/10)*1rem;
    	width:(12/10)*1em;
    }
    &._earnings1 {
    	font-size:(28/10)*1rem;
    	width:(28/28)*1em;
    }
    &._earnings2 {
    	font-size:(28/10)*1rem;
    	width:(28/28)*1em;
    }
    &._earnings3 {
    	font-size:(28/10)*1rem;
    	width:(28/28)*1em;
    }
    &._earnings4 {
    	font-size:(24/10)*1rem;
    	width:(24/24)*1em;
    }
    &._earnings5 {
    	font-size:(28/10)*1rem;
    	width:(28/28)*1em;
    }
    &._f {
    	font-size:(24/10)*1rem;
    	width:(24/24)*1em;
    }
    &._i {
    	font-size:(24/10)*1rem;
    	width:(24/24)*1em;
    }
    &._logo-header {
    	font-size:(49/10)*1rem;
    	width:(46/49)*1em;
    }
    &._mouse {
    	font-size:(24/10)*1rem;
    	width:(24/24)*1em;
    }
    &._preload {
    	font-size:(198/10)*1rem;
    	width:(187/198)*1em;
    }
    &._t {
    	font-size:(24/10)*1rem;
    	width:(24/24)*1em;
    }
    &._y {
    	font-size:(25/10)*1rem;
    	width:(25/25)*1em;
    }
}