.main-info {
  &__margin-content {
    margin-top: 3rem;
    display: flex;
    padding-bottom: 3.4rem;
    border-bottom: .2rem solid #eee;
  }

  &__form {
    max-width: 46rem;
    width: 100%;
    margin-left: 2rem;
  }
}

.main-info-wrap {
  position: relative;

  &__margin-pic {
    margin-top: 1rem;
  }
}

.profile-pic {
  width: 13.8rem;
  height: 13.8rem;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.input-list {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #666666;
}

.input {
  padding: .8rem 1rem 0 0;
  width: 100%;
  border: none;
  background: transparent;
  border-bottom: .2rem solid #333;
  outline: none;

  &:focus {
    &+.label-item {
      font-size: 1rem;
      bottom: 2rem;
    }
  }

  &:active {
    &+.label-item {
      font-size: 1rem;
      bottom: 2rem;
    }
  }

  &:visited {
    &+.label-item {
      font-size: 1rem;
      bottom: 2rem;
    }
  }

}

.input-item {
  position: relative;

  &.active {
    .label-item {
     
        font-size: 1rem;
        bottom: 2rem;
      
    }
  }



}

.label-item {
  transition: 0.4s font-size, .4s bottom;
  position: absolute;
  font-size: 1.2rem;
  bottom: .8rem;
  left: 0rem;

  &.active {
    font-size: 1rem;
    bottom: 2rem;
  }
}

.contact-form {
  .input-item {
    margin-bottom: 2.6rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.approv-pic {
  position: absolute;
  right: 0;
  bottom: 1.1rem;
  width: 18.4rem;
  height: 18.4rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.skills {
  &__margin-content {
    margin-top: 3.6rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 3.8rem;
    border-bottom: .2rem solid #eee;
  }
}

.skills-headline {
  font-size: 1.8rem;
  color: #010101;
  line-height: 2.2rem;
}

.input-checkbox {
  display: none;

  &:checked+.label-checkbox {
    &:before {
      background: url(/assets/img/tick.svg) center center/50% no-repeat #0093d7;
      border: none;
    }
  }
}

.label-checkbox {
  position: relative;
  text-transform: uppercase;
  cursor: pointer;


  &:before {
    transition: .2s background, .4s font-weight ease-in-out;
    position: absolute;
    content: '';
    width: 1.9rem;
    height: 1.9rem;
    border-radius: .5rem;
    background-color: #eeeeee;
    left: 0;
    top: 50%;
    margin-top: -.95rem;
    font-weight:500;
  }

  &:hover {
    font-weight: 600;
  }
}

.label-checkbox {
  padding-left: 2.7rem;
}

.choice-list {
  font-size: 1.2rem;
  line-height: 2.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #666666;
  display: grid;
  grid-template: auto/repeat(4, 1fr);
  row-gap: 4rem;
}

.skills-wrap {
  &__margin-form {
    margin-top: 2.5rem;
  }
}

.knowledge-lvl {
  &__margin-content {
    margin-top: 5.8rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 6.5rem;
  }
}

.knowledge-pic {
  width: 25.1rem;
  height: 12.7rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.knowledge-stat {
  &__margin-num {
    margin-top: 2.2rem;
  }
}

.knowledge-stat-num {
  font-size: 5rem;
  font-weight: 900;
  letter-spacing: 0.05em;
  color: #0093d7;
}

.knowledge-wrap {
  display: flex;

  &__margin-stat {
    margin-left: 6.5rem;
    margin-top: 1rem;
  }
}

.knowledge-stat-headline {
  font-size: 1.8rem;
  font-weight: 500;
}

.knowledge-pic {
  position: relative;
}

.arrow {
  position: absolute;
  width: 5.7rem;
  height: 3.7rem;
  bottom: 0;
  left: 50%;
  margin-left: -5rem;
  transform-origin: 5rem 3rem;
  transition: transform 0.2s;
  --transform-rotate: -30deg;
  transform: rotate(var(--transform-rotate));


  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}