@import url('fonts/Fontello/css/fontello.css');

@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-family;
    src: url('#{$file-path}.woff2');
    font-weight: $weight;
    font-style: $style;
  }
}
@include font-face('Roboto', 'fonts/Roboto-Light', 300);
@include font-face('Roboto', 'fonts/Roboto-Regular', 400);
@include font-face('Roboto', 'fonts/Roboto-Medium', 500);
@include font-face('Roboto', 'fonts/Roboto-Bold', 700);